In [ ]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

pd.set_option('mode.chained_assignment', None)

connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Admin2025'
)

cursor = connection.cursor()

create_database_query = "CREATE DATABASE IF NOT EXISTS sakila_etl"
cursor.execute(create_database_query)

cursor.execute("USE sakila_etl")

create_actor_transformed_table = """
CREATE TABLE IF NOT EXISTS actor_transformed(
    actor_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    full_name VARCHAR(100),
    name_lenght INT,
    registration_year INT,
    is_unique_name BOOLEAN,
    actor_status VARCHAR(10)
);
"""

create_actor_count_by_last_name_table = """
CREATE TABLE IF NOT EXISTS actor_count_by_last_name (
    last_name VARCHAR(50) PRIMARY KEY,
    total_actors INT
);
"""

cursor.execute(create_actor_transformed_table)
cursor.execute(create_actor_count_by_last_name_table)

connection.commit()
cursor.close()
connection.close()

print("Base de datos 'sakila_etl' y tablas 'actor_transformed' y 'actor_count_by_last_name' creadas exitosamente en MySQL")

Base de datos 'sakila_etl' y tablas 'actor_transformed' y 'actor_count_by_last_name' creadas exitosamente en MySQL

In [11]:
engine = create_engine('mysql+mysqlconnector://root:Admin2025@localhost/sakila_etl')

df_filtered[['actor_id','firs_name','last_name','full_name','name_lenght','registration_year', 'is_unique_name', 'actor_status']].to_sql(
    'actor_transformed',
    con=engine,
    if_exists='replace',
    index=False
)

df_grouped.to_sql(
    'actor_count_by_last_name',
    con=engine,
    if_exists='replace',
    index= False
)

print("Datos cargados exitosamente en la base de datos 'sakila_etl'.")

NameError: name 'df_filtered' is not defined